.flex-container {
    
    border-bottom: 1px solid rgb(16, 22, 29); 
    background-color: rgb(60, 85, 111);
  }

  .tab-container {
    border: 1px solid black;
    border-radius: 8px;
    overflow: hidden;
    background-color: rgb(142, 192, 245);
    margin: 20px;
    padding: 20px;
  }
  .green-tab {
    background-color: rgb(142, 192, 245);
  }
  
  .red-tab {
    background-color: red;
  }
  
  .ui-tabview-panel {
    padding: 20px; /* Adjust as needed */
  }
  
  .requirements-container {
    border: 1px solid black;
    border-radius: 8px;
    padding: 10px;
    margin: 10px 0;
  }
  
  .requirements-container h2 {
    margin-bottom: 10px;
  }
  
  table {
    width: 100%;
    border-collapse: collapse;
    margin-top: 10px;
  }
  
  th, td {
    border: 1px solid black;
    padding: 8px;
    text-align: center;
  }

  .hover-effect {
    transition: background-color 0.3s ease; /* Add a smooth transition effect */
  }
  
  .hover-effect:hover {
    background-color: rgb(152, 49, 49); /* Change background color to red on hover */
  }
  
  .custom-dropdown {
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
    background-color: #fff;
    /* Add more styling as per your design */
  }
  
  .styled-table {
    width: 100%;
    border-collapse: collapse;
    margin-bottom: 20px;
    
  }
  
  .styled-table th, .styled-table td {
    border: 1px solid #36454F;
    padding: 8px;
    text-align: center;
  }
  
  .styled-table th {
    background-color: #36454F;
    text-align: center;
  }

  .styled-table thead {
    border-color: #B6D0E2;
    background-color: #A9A9A9;
    text-align: center;
  }
  
  .styled-table tbody tr:nth-child(even) {
    background-color: #A9A9A9;
    text-align: center;
  }
  
  .hover-effect {
    cursor: pointer;
  }
  
  /* Add more styles as needed */
  